*, *:before, *:after {
  box-sizing: border-box;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.form-group {
    box-sizing: border-box;
    width:30rem;
}

.form-control {
    font-weight: normal;

}

input[type=text] {
  padding:10px;
  margin:10px 10px; 
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=number] {
  padding:10px;
  margin:10px 10px; 
  border: 0;
  box-shadow:0 0 15px 8px rgba(0,0,0,0.06);
}

/* <!-- HTML !-->
<button class="button-52" role="button">Button 52</button> */

/* CSS */
