.students {
    display: grid;
    grid-template-rows: repeat(3, auto);
}


.student__section {
    /* display: grid; */
    padding: 1.6rem;
    /* border: 1px solid #a2a2a2; */
    border-radius: 4px;
    box-shadow: 0 0 15px #d7d6d6;
    margin-bottom: 1.6rem;
    margin-top: 2rem;
    max-width: 700px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
    width: 300px;
    margin-bottom:2rem;
}



.thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    border: 1px solid #ffe54c;
    box-shadow: 0 0 10px rgb(3 3 19);
    border-radius: 100%;
    margin-bottom: 2rem;
}