body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





/* BUTON-DELETE */
.btn-delete {
  font-size: 16px;
  font-weight: 200;
  width: 6rem;
  letter-spacing: 1px;
  padding: .5rem .5rem;
  margin: 1rem 1rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-delete:after {
  content: "";
  background-color: #000;
  width: 100%;
  background-color: #ffe54c;
  color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-delete:hover:after {
  top: 0px;
  left: 0px;
  background-color: tomato;
  color: #fff;

}

@media (min-width: 768px) {
  .btn-delete {
    padding: .7rem 1rem;
  }
}

/* BUTTON-RESPOND */
.btn-respond {
  font-size: 16px;
  font-weight: 200;
  width: 6rem;
  letter-spacing: 1px;
  padding: .5rem .5rem;
  margin: 1rem 1rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-respond:after {
  content: "";
  background-color: #000;
  width: 100%;
  background-color: #ffe54c;
  color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-respond:hover:after {
  top: 0px;
  left: 0px;
  background-color: #76d26e;
  color: #fff;

}

@media (min-width: 768px) {
  .btn-respond {
    padding: .7rem 1rem;
  }
}

/* BUTTON-LOGOUT */
.btn-logout {
  font-size: 16px;
  font-weight: 200;
  height: 3rem;
  letter-spacing: 1px;
  padding: .5rem .5rem;
  margin: 1rem 1rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-logout:after {
  content: "";
  background-color: #000;
  width: 100%;
  background-color: #ffe54c;
  color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-logout:hover:after {
  top: 0px;
  left: 0px;
  /* background-color: #76d26e; */
  color: #fff;

}

@media (min-width: 768px) {
  .btn-logout {
    padding: .7rem 1rem;
  }
}


/* BUTTON - SUBMIT */
.btn-submit {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: .5rem .5rem;
  margin: 1rem 1rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-submit:after {
  content: "";
  background-color: #000;
  width: 100%;
  background-color: #ffe54c;
  color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-submit:hover:after {
  top: 0px;
  left: 0px;
  background-color: #76d26e;
  color: #fff;

}

@media (min-width: 768px) {
  .btn-submit {
    padding: .7rem 1rem;
  }
}

/* BUTTON SAVE */
.btn-save {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: .5rem .5rem;
  margin: 1rem 1rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-save:after {
  content: "";
  background-color: #000;
  width: 100%;
  background-color: #ffe54c;
  color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-save:hover:after {
  top: 0px;
  left: 0px;
  background-color: #76d26e;
  color: #fff;

}

@media (min-width: 768px) {
  .btn-save {
    padding: .7rem 1rem;
  }
}

/* BUTTON EDIT */
.btn-edit {
  font-size: 16px;
  font-weight: 200;
  width: 6rem;
  letter-spacing: 1px;
  padding: .5rem .5rem;
  margin: 1rem 1rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-edit:after {
  content: "";
  background-color: #000;
  width: 100%;
  background-color: #ffe54c;
  color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-edit:hover:after {
  top: 0px;
  left: 0px;
  background-color: #76d26e;
  color: #fff;

}

@media (min-width: 768px) {
  .btn-edit {
    padding: .7rem 1rem;
  }
}

/* BUTTON - VIEW */
.btn-view {
  font-size: 16px;
  font-weight: 200;
  width: 6rem;
  letter-spacing: 1px;
  padding: .5rem .7rem;
  margin: 1rem 1rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-view:after {
  content: "";
  background-color: #000;
  width: 100%;
  background-color: #ffe54c;
  color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-view:hover:after {
  top: 0px;
  left: 0px;
  background-color: #76d26e;
  color: #fff;

}

@media (min-width: 768px) {
  .btn-view {
    padding: .7rem 1rem;
  }
}

