.container--register {
    margin-bottom: 1.6rem;
}

.form--header {
    padding-top: 0;
    margin-top: 0;
}



.form__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 6rem; */
}

/* .form--register {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    border-radius: 4px;
    box-shadow: 0 0 15px gray;
    margin-bottom: 1.6rem;
    margin-top: 2rem;
    max-width: 700px;
} */

.form--fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.6rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
}

.link--register {
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.register--link:hover {
    text-decoration: none;
    flex-basis: 20%;
    list-style-type: none;
    color: tomato;
}

input[type=text] {
  padding:10px;
  margin:10px 10px; 
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=number] {
  padding:10px;
  margin:10px 10px; 
  border: 0;
  box-shadow:0 0 15px 8px rgba(0,0,0,0.06);
}


input[type=username] {
  padding:10px;
  margin:10px 10px; 
  border: 0;
  box-shadow:0 0 15px 8px rgba(0,0,0,0.06);
}

input[type=email] {
  padding:10px;
  margin:10px 10px; 
  border: 0;
  box-shadow:0 0 15px 8px rgba(0,0,0,0.06);
}

input[type=password] {
  padding:10px;
  margin:10px 10px; 
  border: 0;
  box-shadow:0 0 15px 8px rgba(0,0,0,0.06);
}


input[type=verifyPassword] {
  padding:10px;
  margin:10px 10px; 
  border: 0;
  box-shadow:0 0 15px 8px rgba(0,0,0,0.06);
}




/* 
form - box shadow - #d7d6d6
*/